In [75]:
import pandas as pd
import numpy as np
import sympy as sp
import matplotlib.pyplot as plt
from openpyxl import load_workbook

In [79]:
perfiles = pd.read_excel('T2.xlsx', usecols="B:E", nrows=10, skiprows=3, index_col='perfil')
perfiles

        h [mm]  b [mm]  t [mm]
perfil
1           25      50     5.0
2           30      60     5.5
3           35      70     6.0
4           40      80     7.0
5           50     100     8.5
6           55     115     9.0
7           60     120    10.0
8           70     140    11.5
9           80     160    13.0
10          90     180    15.0

In [80]:
h = perfiles.loc[1, 'h [mm]']
b = perfiles.loc[1, 'b [mm]']
t = perfiles.loc[1, 't [mm]']
h, b, t

(25, 50, 5.0)

In [81]:
area_total= (t*(h-t)) + (b*t) 
area_total

350.0

In [82]:
area1= (t*b)
area1

250.0

In [83]:
area2= (t*(h-t))
area2

100.0

In [84]:
y= (t*(h-t)*((h-t)/2)) + ((b*t)*((h-t)+(t/2)))
y

6625.0

In [85]:
ybarra= y/area_total
ybarra

18.928571428571427

In [86]:
##Inercia en el eje x figura 1 
i1x= ((b*(t**3))/12) + ((t*b)*(((h-t)+(t/2))-ybarra)**2)
i1x

3709.608843537418

In [87]:
## Inercia en el eje x figura 2 
i2x= ((t*(h-t)**3)/12) + ((t*(h-t))*(ybarra-((h-t)/2))**2)
i2x

11305.272108843536

In [88]:
## Momento de inercia en x 
Mix= i1x + i2x
Mix

15014.880952380954

In [89]:
momento_maximo= 3.1552
momento_maximo

3.1552

In [90]:
##Esfuerzo en MPa

esfuerzo= (((momento_maximo*10**6)*ybarra)/(Mix))
esfuerzo

3977.6158572844392

In [91]:
resultados= perfiles 
resultados['Area (mm2)']= (perfiles ['t [mm]']*(perfiles ['h [mm]'] - perfiles ['t [mm]'])) + (perfiles ['b [mm]']*perfiles ['t [mm]'])
resultados['Area (mm2)']

perfil
1      350.00
2      464.75
3      594.00
4      791.00
5     1202.75
6     1449.00
7     1700.00
8     2282.75
9     2951.00
10    3825.00
Name: Area (mm2), dtype: float64

In [92]:
## ((b*(t**3))/12) + ((t*b)*(h - ybarra - (t/2))**2) + ((t*(h-t)**3)/12) + ((t*(h-t))*(ybarra-((h-t)/2))**2)
resultados['Inercia (mm4)']= ((perfiles ['b [mm]']*(perfiles ['t [mm]']**3))/12) + ((perfiles ['t [mm]']*perfiles ['b [mm]'])*(perfiles ['h [mm]']- ((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])/2)) + ((perfiles ['b [mm]']*perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])+(perfiles ['t [mm]']/2)))) / ((perfiles ['t [mm]']*perfiles ['b [mm]']) + (perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])))  - (perfiles ['t [mm]']/2))**2) + ((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])**3)/12) + ((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]']))*(((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])/2)) + ((perfiles ['b [mm]']*perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])+(perfiles ['t [mm]']/2)))) / ((perfiles ['t [mm]']*perfiles ['b [mm]']) + (perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]']))) -((perfiles ['h [mm]']-perfiles ['t [mm]'])/2))**2)
resultados['Inercia (mm4)']

perfil
1     1.501488e+04
2     2.910029e+04
3     5.113253e+04
4     8.866585e+04
5     2.115530e+05
6     3.036222e+05
7     4.318137e+05
8     7.908459e+05
9     1.337393e+06
10    2.186057e+06
Name: Inercia (mm4), dtype: float64

In [93]:
##((t*(h-t)*((h-t)/2)) + ((b*t)*((h-t)+(t/2)))) / ((t*b) + (t*(h-t)))
resultados['y barra mm']= ((perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])/2)) + ((perfiles ['b [mm]']*perfiles ['t [mm]'])*((perfiles ['h [mm]']-perfiles ['t [mm]'])+(perfiles ['t [mm]']/2)))) / ((perfiles ['t [mm]']*perfiles ['b [mm]']) + (perfiles ['t [mm]']*(perfiles ['h [mm]']-perfiles ['t [mm]']))) 
resultados['y barra mm']

perfil
1     18.928571
2     22.900888
3     26.873737
4     30.659292
5     38.417845
6     42.642857
7     46.176471
8     53.935139
9     61.693833
10    69.264706
Name: y barra mm, dtype: float64

In [94]:
##esfuerzo= (((momento_maximo*10**6)*ybarra)/(Mix))
resultados['Esfuerzo inf (MPa)']= ((momento_maximo *10 ** 6)*(resultados['y barra mm'])/(resultados['Inercia (mm4)']))
resultados['Esfuerzo inf (MPa)']

perfil
1     3977.615857
2     2483.029669
3     1658.279292
4     1091.019854
5      572.981669
6      443.138718
7      337.404745
8      215.182445
9      145.549120
10      99.971776
Name: Esfuerzo inf (MPa), dtype: float64

In [95]:
##esfuerzo= (((momento_maximo*10**6)*(ybarra-h mm)/(Mix))
resultados['Esfuerzo sup (MPa)']= ((momento_maximo *10 ** 6)*(-resultados['y barra mm']+perfiles ['h [mm]'])/(resultados['Inercia (mm4)']))
resultados['Esfuerzo sup (MPa)']

perfil
1     1275.839049
2      769.721554
3      501.441718
4      332.391819
5      172.741674
6      128.413732
7      101.006516
8       64.093210
9       43.188216
10      29.927857
Name: Esfuerzo sup (MPa), dtype: float64

In [96]:
##perfil optimo 
area_minima= resultados['Area (mm2)'].min()
area_minima

350.0

In [97]:
perfiles.iloc[0]

h [mm]                   25.000000
b [mm]                   50.000000
t [mm]                    5.000000
Area (mm2)              350.000000
Inercia (mm4)         15014.880952
y barra mm               18.928571
Esfuerzo inf (MPa)     3977.615857
Esfuerzo sup (MPa)     1275.839049
Name: 1, dtype: float64

In [98]:
indice = resultados['Area (mm2)'].idxmin()
indice

1

In [99]:
perfiles.iloc[[indice], :]

,h [mm],b [mm],t [mm],Area (mm2),Inercia (mm4),y barra mm,Esfuerzo inf (MPa),Esfuerzo sup (MPa)
perfil,,,,,,,,
2,30,60,5.5,464.75,29100.288801,22.900888,2483.029669,769.721554

In [101]:
esfuerzo_menor_250= resultados['Esfuerzo inf (MPa)']<=250
esfuerzo_menor_250

perfil
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10     True
Name: Esfuerzo inf (MPa), dtype: bool

In [103]:
filtro= resultados['Esfuerzo inf (MPa)']<=250
resultados[filtro]

,h [mm],b [mm],t [mm],Area (mm2),Inercia (mm4),y barra mm,Esfuerzo inf (MPa),Esfuerzo sup (MPa)
perfil,,,,,,,,
8,70,140,11.5,2282.75,7.908459e+05,53.935139,215.182445,64.093210
9,80,160,13.0,2951.00,1.337393e+06,61.693833,145.549120,43.188216
10,90,180,15.0,3825.00,2.186057e+06,69.264706,99.971776,29.927857

In [104]:
resultados.loc[filtro, 'Area (mm2)']

perfil
8     2282.75
9     2951.00
10    3825.00
Name: Area (mm2), dtype: float64

In [105]:
area_minima_perfil_optimo= resultados.loc[filtro, 'Area (mm2)'].min()
area_minima_perfil_optimo

2282.75

In [106]:
indice_perfil = resultados.loc[filtro, 'Area (mm2)'].idxmin()
indice_perfil
##El perfil optimo para este ejercicicio es el numero 8 ya que su area es minima y resite el mayor esfuerzo sin sobrepasar el admisible que es 250

8

In [121]:
perfil_optimo= perfiles.loc[[indice_perfil], :]
perfil_optimo

,h [mm],b [mm],t [mm],Area (mm2),Inercia (mm4),y barra mm,Esfuerzo inf (MPa),Esfuerzo sup (MPa)
perfil,,,,,,,,
8,70,140,11.5,2282.75,790845.875617,53.935139,215.182445,64.09321

In [122]:
##funcion para que aparexca la linea de perfil_ultimo en el excel 
from openpyxl import load_workbook 
with pd.ExcelWriter('T2.xlsx', mode='a',if_sheet_exists="overlay", engine='openpyxl') as writer:
    # configurando sheets
    book = load_workbook('T2.xlsx')
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

    perfil_ultimo.to_excel(writer, startrow=18, startcol=6, sheet_name='Perfiles', index=None)

In [120]:
resultados

,h [mm],b [mm],t [mm],Area (mm2),Inercia (mm4),y barra mm,Esfuerzo inf (MPa),Esfuerzo sup (MPa)
perfil,,,,,,,,
1,25,50,5.0,350.00,1.501488e+04,18.928571,3977.615857,1275.839049
2,30,60,5.5,464.75,2.910029e+04,22.900888,2483.029669,769.721554
3,35,70,6.0,594.00,5.113253e+04,26.873737,1658.279292,501.441718
4,40,80,7.0,791.00,8.866585e+04,30.659292,1091.019854,332.391819
5,50,100,8.5,1202.75,2.115530e+05,38.417845,572.981669,172.741674
6,55,115,9.0,1449.00,3.036222e+05,42.642857,443.138718,128.413732
7,60,120,10.0,1700.00,4.318137e+05,46.176471,337.404745,101.006516
8,70,140,11.5,2282.75,7.908459e+05,53.935139,215.182445,64.093210
9,80,160,13.0,2951.00,1.337393e+06,61.693833,145.549120,43.188216
10,90,180,15.0,3825.00,2.186057e+06,69.264706,99.971776,29.927857

In [118]:
from openpyxl import load_workbook

with pd.ExcelWriter('T2.xlsx', mode='a',if_sheet_exists="overlay", engine='openpyxl') as writer: 
    # configurando sheets 
    book = load_workbook('T2.xlsx') 
    # colocar el book dentro del writer de pandas 
    writer.book = book 
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets) 
    perfiles.to_excel(writer, startrow=3, startcol=6, sheet_name='Perfiles')

In [125]:
perfil_optimo

,h [mm],b [mm],t [mm],Area (mm2),Inercia (mm4),y barra mm,Esfuerzo inf (MPa),Esfuerzo sup (MPa)
perfil,,,,,,,,
8,70,140,11.5,2282.75,790845.875617,53.935139,215.182445,64.09321

In [126]:
##funcion para que aparexca la linea de perfil_ultimo en el excel 
from openpyxl import load_workbook 
with pd.ExcelWriter('T2.xlsx', mode='a',if_sheet_exists="overlay", engine='openpyxl') as writer:
    # configurando sheets
    book = load_workbook('T2.xlsx')
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

    perfil_ultimo.to_excel(writer, startrow=18, startcol=6, sheet_name='Perfiles', index=None)